*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --very-dark-cyan: hsl(158, 42%, 18%);
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cream);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 37.5rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--white);
}

.product-details {
    padding: 2rem;
}

.product-type,
.product-description,
.product-compare-at-price,
button {
    font-family: "Montserrat", sans-serif;
}
.product-type {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
    font-weight: 500;
}
h1,
.product-price {
    font-family: "Fraunces", sans-serif;
}

h1 {
    color: var(--very-dark-blue);
    font-size: 2rem;
    line-height: 100%;
    margin: 20px 0 24px 0;
}

.product-type,
.product-description,
.product-compare-at-price {
    color: var(--dark-grayish-blue);
}

.product-description {
    margin-bottom: 30px;
    line-height: 23px;
}

.product-price {
    color: var(--dark-cyan);
    font-size: 2rem;
    font-size: 14px;
}

.prices {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.product-compare-at-price {
    font-size: 13px;
    text-decoration: strikethrough;
}

button {
    background-color: var(--dark-cyan);
    border: none;
    color: var(--white);
    width: 100%;
    padding-block: 1rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: bold;
}
button:hover {
    background-color: var(--very-dark-cyan);
}

@media (max-width: 768px) {
    body {
        padding: 28px 16px;
    }
    main {
        grid-template-columns: 1fr;
        height: 100%;
    }
}
